<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   	<!-- JQUERY -->	
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<!-- FULL CALENDAR JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js" crossorigin="anonymous"></script>
<script src="app.js"></script>

<link rel="stylesheet" type="text/css" href="style.css" />

    <title>Document</title>
</head>
<body>
    <h1>Calendario</h1>
    <div id="calendar"></div>

    <h1>Horarios</h1>
    <div class="container" id="horarios"></div>
    

   
</body>
</html>