.bg-cice {
	background-color: #e50081;
}

.cice-hover:hover {
	background-color: #ff3b9a;
	color: black;
}

.bg-cice-ok {
	background-color: #bfffbf;
}


.bg-cice-fail {
	background-color: #ffbfbf;
}

.text-cice {
	color: #e50081;
}

.text-cice-hover:hover {
	background-color: #e50081;
	color: white;
}